Repository scipy/scipy-stubs, pull requests merged in 2024-10, with the labels that each got.

#59 completed `scipy.io`
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  scipy-stubs/_typing.pyi
  scipy-stubs/io/__init__.pyi
  scipy-stubs/io/_fast_matrix_market/__init__.pyi
  scipy-stubs/io/_fortran.pyi
  scipy-stubs/io/_harwell_boeing/_fortran_format_parser.pyi
  scipy-stubs/io/_harwell_boeing/hb.pyi
  scipy-stubs/io/_idl.pyi
  scipy-stubs/io/_mmio.pyi
  scipy-stubs/io/_netcdf.pyi
  scipy-stubs/io/arff/_arffread.pyi
  scipy-stubs/io/arff/arffread.pyi
  scipy-stubs/io/matlab/__init__.pyi
  scipy-stubs/io/matlab/_byteordercodes.pyi
  scipy-stubs/io/matlab/_mio.pyi
  scipy-stubs/io/matlab/_mio4.pyi
  scipy-stubs/io/matlab/_mio5.pyi
  scipy-stubs/io/matlab/_mio5_params.pyi
  scipy-stubs/io/matlab/_miobase.pyi
  scipy-stubs/io/matlab/byteordercodes.pyi
  scipy-stubs/io/matlab/mio.pyi
  scipy-stubs/io/matlab/mio4.pyi
  scipy-stubs/io/matlab/mio5.pyi
  scipy-stubs/io/matlab/mio5_params.pyi
  scipy-stubs/io/matlab/mio5_utils.pyi
  scipy-stubs/io/matlab/mio_utils.pyi
  scipy-stubs/io/matlab/miobase.pyi
  scipy-stubs/io/matlab/streams.pyi
  scipy-stubs/io/mmio.pyi
  scipy-stubs/io/netcdf.pyi
  scipy-stubs/io/wavfile.pyi
  scipy-stubs/linalg/_matfuncs_inv_ssq.pyi
Labels: package: scipy.io

#62 deal with deprecated `scipy.linalg` modules
  scipy-stubs/linalg/__init__.pyi
  scipy-stubs/linalg/basic.pyi
  scipy-stubs/linalg/decomp.pyi
  scipy-stubs/linalg/decomp_cholesky.pyi
  scipy-stubs/linalg/decomp_lu.pyi
  scipy-stubs/linalg/decomp_qr.pyi
  scipy-stubs/linalg/decomp_schur.pyi
  scipy-stubs/linalg/decomp_svd.pyi
  scipy-stubs/linalg/matfuncs.pyi
  scipy-stubs/linalg/misc.pyi
  scipy-stubs/linalg/special_matrices.pyi
  tests/stubtest/allowlist.txt
Labels: package: scipy.linalg

#71 improved `README.md`
  .markdownlint.yaml
  .vscode/settings.json
  README.md
  poetry.lock
  pyproject.toml
Labels: meta: documentation

#72 `scipy.ndimage`
  .github/workflows/ci.yml
  README.md
  scipy-stubs/_lib/_ccallback.pyi
  scipy-stubs/ndimage/__init__.pyi
  scipy-stubs/ndimage/_dispatchers.pyi
  scipy-stubs/ndimage/_filters.pyi
  scipy-stubs/ndimage/_fourier.pyi
  scipy-stubs/ndimage/_interpolation.pyi
  scipy-stubs/ndimage/_measurements.pyi
  scipy-stubs/ndimage/_morphology.pyi
  scipy-stubs/ndimage/_ndimage_api.pyi
  scipy-stubs/ndimage/_ni_docstrings.pyi
  scipy-stubs/ndimage/_ni_support.pyi
  scipy-stubs/ndimage/_typing.pyi
  scipy-stubs/ndimage/filters.pyi
  scipy-stubs/ndimage/interpolation.pyi
  scipy-stubs/ndimage/measurements.pyi
  tests/stubtest/allowlist.txt
Labels: package: scipy.ndimage

#73 fix pyright errors in `scipy.odr`
  .github/workflows/ci.yml
  README.md
  scipy-stubs/odr/__init__.pyi
  scipy-stubs/odr/_models.pyi
  scipy-stubs/odr/_odrpack.pyi
Labels: package: scipy.odr

#75 Streamlined `README.md`
  README.md
Labels: meta: documentation

#78 fix `scipy.signal` stubtest
  .github/workflows/ci.yml
  README.md
  scipy-stubs/signal/__init__.pyi
  scipy-stubs/signal/_arraytools.pyi
  scipy-stubs/signal/_bsplines.pyi
  scipy-stubs/signal/_czt.pyi
  scipy-stubs/signal/_filter_design.pyi
  scipy-stubs/signal/_fir_filter_design.pyi
  scipy-stubs/signal/_lti_conversion.pyi
  scipy-stubs/signal/_ltisys.pyi
  scipy-stubs/signal/_max_len_seq.pyi
  scipy-stubs/signal/_max_len_seq_inner.pyi
  scipy-stubs/signal/_savitzky_golay.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spectral.pyi
  scipy-stubs/signal/_spectral_py.pyi
  scipy-stubs/signal/_spline.pyi
  scipy-stubs/signal/_spline_filters.pyi
  scipy-stubs/signal/_waveforms.pyi
  scipy-stubs/signal/_wavelets.pyi
  scipy-stubs/signal/windows/__init__.pyi
  scipy-stubs/signal/windows/_windows.pyi
  scipy-stubs/signal/windows/windows.pyi
  tests/stubtest/allowlist.txt
Labels: package: scipy.signal

#79 Final pass over the deprecated public modules
  scipy-stubs/constants/codata.pyi
  scipy-stubs/constants/constants.pyi
  scipy-stubs/integrate/dop.pyi
  scipy-stubs/integrate/odepack.pyi
  scipy-stubs/integrate/quadpack.pyi
  scipy-stubs/integrate/vode.pyi
  scipy-stubs/linalg/basic.pyi
  scipy-stubs/linalg/decomp.pyi
  scipy-stubs/linalg/decomp_cholesky.pyi
  scipy-stubs/linalg/decomp_lu.pyi
  scipy-stubs/linalg/decomp_qr.pyi
  scipy-stubs/linalg/decomp_schur.pyi
  scipy-stubs/linalg/decomp_svd.pyi
  scipy-stubs/linalg/matfuncs.pyi
  scipy-stubs/linalg/misc.pyi
  scipy-stubs/linalg/special_matrices.pyi
  scipy-stubs/misc/doccer.pyi
  scipy-stubs/odr/models.pyi
  scipy-stubs/odr/odrpack.pyi
  scipy-stubs/optimize/cobyla.pyi
  scipy-stubs/optimize/lbfgsb.pyi
  scipy-stubs/optimize/linesearch.pyi
  scipy-stubs/optimize/minpack.pyi
  scipy-stubs/optimize/nonlin.pyi
  scipy-stubs/optimize/optimize.pyi
  scipy-stubs/optimize/slsqp.pyi
  scipy-stubs/optimize/tnc.pyi
  scipy-stubs/optimize/zeros.pyi
  scipy-stubs/sparse/base.pyi
  scipy-stubs/sparse/compressed.pyi
  scipy-stubs/sparse/coo.pyi
  scipy-stubs/sparse/linalg/dsolve.pyi
  scipy-stubs/spatial/ckdtree.pyi
  scipy-stubs/spatial/kdtree.pyi
  scipy-stubs/spatial/qhull.pyi
  scipy-stubs/spatial/transform/rotation.pyi
  scipy-stubs/special/basic.pyi
  scipy-stubs/special/orthogonal.pyi
  scipy-stubs/special/sf_error.pyi
  scipy-stubs/special/specfun.pyi
  scipy-stubs/special/spfun_stats.pyi
Labels: package: scipy.constants, package: scipy.integrate, package: scipy.linalg, package: scipy.misc, package: scipy.odr, package: scipy.optimize, package: scipy.spatial, package: scipy.special, meta: deprecation

#82 improved `scipy.LowLevelCallable`
  poetry.lock
  pyproject.toml
  scipy-stubs/_lib/_ccallback.pyi
Labels: package: scipy._lib, meta: dependencies

#83 fix `scipy.sparse` stubtests
  .github/workflows/ci.yml
  README.md
  scipy-stubs/sparse/__init__.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_bsr.pyi
  scipy-stubs/sparse/_compressed.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_csc.pyi
  scipy-stubs/sparse/_csr.pyi
  scipy-stubs/sparse/_data.pyi
  scipy-stubs/sparse/_dia.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/_generate_sparsetools.pyi
  scipy-stubs/sparse/_index.pyi
  scipy-stubs/sparse/_lil.pyi
  scipy-stubs/sparse/_matrix.pyi
  scipy-stubs/sparse/_matrix_io.pyi
  scipy-stubs/sparse/_sputils.pyi
  scipy-stubs/sparse/bsr.pyi
  scipy-stubs/sparse/compressed.pyi
  scipy-stubs/sparse/coo.pyi
  scipy-stubs/sparse/csgraph/__init__.pyi
  scipy-stubs/sparse/csgraph/_flow.pyi
  scipy-stubs/sparse/csgraph/_laplacian.pyi
  scipy-stubs/sparse/csgraph/_matching.pyi
  scipy-stubs/sparse/csgraph/_min_spanning_tree.pyi
  scipy-stubs/sparse/csgraph/_reordering.pyi
  scipy-stubs/sparse/csgraph/_shortest_path.pyi
  scipy-stubs/sparse/csgraph/_tools.pyi
  scipy-stubs/sparse/csgraph/_traversal.pyi
  scipy-stubs/sparse/csgraph/_validation.pyi
  scipy-stubs/sparse/dok.pyi
  scipy-stubs/sparse/linalg/__init__.pyi
  scipy-stubs/sparse/linalg/_dsolve/__init__.pyi
  scipy-stubs/sparse/linalg/_dsolve/_superlu.pyi
  scipy-stubs/sparse/linalg/_dsolve/linsolve.pyi
  scipy-stubs/sparse/linalg/_eigen/__init__.pyi
  scipy-stubs/sparse/linalg/_eigen/_svds.pyi
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/sparse/linalg/_eigen/lobpcg/__init__.pyi
  scipy-stubs/sparse/linalg/_eigen/lobpcg/lobpcg.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/sparse/linalg/_isolve/__init__.pyi
  scipy-stubs/sparse/linalg/_isolve/_gcrotmk.pyi
  scipy-stubs/sparse/linalg/_isolve/iterative.pyi
  scipy-stubs/sparse/linalg/_isolve/lgmres.pyi
  scipy-stubs/sparse/linalg/_isolve/lsmr.pyi
  scipy-stubs/sparse/linalg/_isolve/lsqr.pyi
  scipy-stubs/sparse/linalg/_isolve/minres.pyi
  scipy-stubs/sparse/linalg/_isolve/tfqmr.pyi
  scipy-stubs/sparse/linalg/_isolve/utils.pyi
  scipy-stubs/sparse/linalg/_onenormest.pyi
  scipy-stubs/sparse/linalg/_svdp.pyi
  tests/stubtest/allowlist.txt
Labels: package: scipy.sparse

#84 fix mypy errors in `scipy.signal`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  scipy-stubs/signal/_ltisys.pyi
Labels: package: scipy.signal, meta: CI

#91 add `.mypy_cache` to `.gitignore`
  .gitignore
  .vscode/settings.json
Labels: meta: DX

#94 codemod for params with missing trailing comma
  .libcst.codemod.yaml
  codegen/__init__.py
  codegen/mods.py
  codemods.py
  poetry.lock
  pyproject.toml
  scipy-stubs/fft/_pocketfft/basic.pyi
  scipy-stubs/fftpack/_realtransforms.pyi
  scipy-stubs/fftpack/convolve.pyi
  scipy-stubs/fftpack/realtransforms.pyi
  scipy-stubs/interpolate/fitpack2.pyi
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_dcsrch.pyi
  scipy-stubs/optimize/_minpack_py.pyi
  scipy-stubs/optimize/_trustregion.pyi
  scipy-stubs/optimize/minpack.pyi
  scipy-stubs/signal/_filter_design.pyi
  scipy-stubs/signal/_ltisys.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_waveforms.pyi
  scipy-stubs/signal/filter_design.pyi
  scipy-stubs/signal/ltisys.pyi
  scipy-stubs/signal/signaltools.pyi
  scipy-stubs/signal/waveforms.pyi
  scipy-stubs/stats/_distr_params.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_mstats_extras.pyi
  scipy-stubs/stats/_page_trend_test.pyi
Labels: meta: codegen

#95 fix the remaining pyright errors
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  scipy-stubs/optimize/_lbfgsb_py.pyi
  scipy-stubs/signal/_filter_design.pyi
  scipy-stubs/signal/_ltisys.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/windows/__init__.pyi
  scipy-stubs/sparse/_compressed.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/sparse/linalg/_matfuncs.pyi
  scipy-stubs/sparse/linalg/_special_sparse_arrays.pyi
Labels: stubs: improvement, meta: CI

#109 complete `scipy.linalg`
  README.md
  scipy-stubs/linalg/_misc.pyi
Labels: package: scipy.linalg, stubs: incomplete

#112 complete `scipy.io`
  pyproject.toml
  scipy-stubs/io/_harwell_boeing/hb.pyi
  scipy-stubs/io/_netcdf.pyi
  scipy-stubs/io/arff/_arffread.pyi
  scipy-stubs/io/arff/arffread.pyi
  scipy-stubs/io/matlab/_mio5_params.pyi
  scipy-stubs/io/matlab/_miobase.pyi
  scipy-stubs/io/netcdf.pyi
Labels: package: scipy.io, stubs: incomplete, stubs: improvement

#108 simple contributing guide
  CONTRIBUTING.md
Labels: meta: documentation

#113 refactor contextmanagers with a type-check-only mixins
  scipy-stubs/_lib/_threadsafety.pyi
  scipy-stubs/_lib/_uarray/_backend.pyi
  scipy-stubs/_lib/_util.pyi
  scipy-stubs/_typing.pyi
  scipy-stubs/io/_fortran.pyi
  scipy-stubs/io/_netcdf.pyi
  scipy-stubs/optimize/_differentialevolution.pyi
  scipy-stubs/optimize/_shgo.pyi
  scipy-stubs/special/_ufuncs.pyi
Labels: stubs: improvement

#114 use `Any` for `Untyped`
  scipy-stubs/_typing.pyi
  scipy-stubs/optimize/_lbfgsb_py.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_data.pyi
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/sparse/linalg/_matfuncs.pyi
  scipy-stubs/sparse/linalg/_special_sparse_arrays.pyi
  scipy-stubs/stats/_mstats_basic.pyi
Labels: stubs: incomplete, stubs: incorrect

#87 Add type stubs to `scipy/signal/_peak_finding.pyi`
  scipy-stubs/signal/_peak_finding.pyi
Labels: package: scipy.signal, stubs: improvement

#119 complete `scipy.odr`
  README.md
  scipy-stubs/odr/__init__.pyi
  scipy-stubs/odr/_add_newdocs.pyi
  scipy-stubs/odr/_models.pyi
  scipy-stubs/odr/_odrpack.pyi
  scipy-stubs/odr/models.pyi
  scipy-stubs/odr/odrpack.pyi
Labels: package: scipy.odr

#123 explicit python version pypi classifiers
  pyproject.toml
Labels: meta: packaging

#125 configure pyright execution environments
  .github/workflows/ci.yml
  pyproject.toml
Labels: meta: CI

#118 complete `scipy.fft.dct`, and add relevant type aliases
  scipy-stubs/_typing.pyi
  scipy-stubs/fft/_realtransforms.pyi
Labels: package: scipy.fft

#121 complete `scipy.fftpack`
  README.md
  scipy-stubs/fftpack/__init__.pyi
  scipy-stubs/fftpack/_basic.pyi
  scipy-stubs/fftpack/_helper.pyi
  scipy-stubs/fftpack/_pseudo_diffs.pyi
  scipy-stubs/fftpack/_realtransforms.pyi
  scipy-stubs/fftpack/basic.pyi
  scipy-stubs/fftpack/convolve.pyi
  scipy-stubs/fftpack/helper.pyi
  scipy-stubs/fftpack/pseudo_diffs.pyi
  scipy-stubs/fftpack/realtransforms.pyi
Labels: package: scipy.fftpack

#124 complete `scipy.signal._savitzky_golay`
  scipy-stubs/signal/_savitzky_golay.pyi
Labels: package: scipy.signal

#128 complete `scipy.integrate`
  scipy-stubs/integrate/_bvp.pyi
  scipy-stubs/integrate/_ivp/base.pyi
  scipy-stubs/integrate/_ivp/bdf.pyi
  scipy-stubs/integrate/_ivp/common.pyi
  scipy-stubs/integrate/_ivp/ivp.pyi
  scipy-stubs/integrate/_ivp/lsoda.pyi
  scipy-stubs/integrate/_ivp/radau.pyi
  scipy-stubs/integrate/_ivp/rk.pyi
  scipy-stubs/integrate/_ode.pyi
  scipy-stubs/integrate/_tanhsinh.pyi
Labels: package: scipy.integrate

#131 manual typing fixes on numpy 1.24 and python 3.10
  pyproject.toml
  scipy-stubs/_lib/_util.pyi
  scipy-stubs/fftpack/helper.pyi
  scipy-stubs/integrate/_quad_vec.pyi
  scipy-stubs/io/matlab/_mio5_params.pyi
  scipy-stubs/linalg/_special_matrices.pyi
  scipy-stubs/linalg/blas.pyi
  scipy-stubs/signal/_bsplines.pyi
  scipy-stubs/sparse/bsr.pyi
  scipy-stubs/sparse/compressed.pyi
  scipy-stubs/sparse/coo.pyi
  scipy-stubs/special/_basic.pyi
  tests/stubtest/allowlist.txt
Labels: meta: dependencies

#135 complete `scipy.stats`
  scipy-stubs/stats/_distn_infrastructure.pyi
  scipy-stubs/stats/_fit.pyi
  scipy-stubs/stats/_hypotests.pyi
  scipy-stubs/stats/_kde.pyi
  scipy-stubs/stats/_ksstats.pyi
  scipy-stubs/stats/_levy_stable/__init__.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_mstats_extras.pyi
  scipy-stubs/stats/_mvn.pyi
  scipy-stubs/stats/_page_trend_test.pyi
  scipy-stubs/stats/_qmc.pyi
  scipy-stubs/stats/_qmc_cy.pyi
  scipy-stubs/stats/_sampling.pyi
  scipy-stubs/stats/_sensitivity_analysis.pyi
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/_stats_pythran.pyi
  scipy-stubs/stats/_survival.pyi
  scipy-stubs/stats/_tukeylambda_stats.pyi
  scipy-stubs/stats/_typing.pyi
  scipy-stubs/stats/_variation.pyi
  scipy-stubs/stats/_wilcoxon.pyi
  scipy-stubs/stats/contingency.pyi
Labels: package: scipy.stats

#136 bump `basedpyright` to `1.19.1` and `tox` to `4.23.2`
  poetry.lock
  pyproject.toml
Labels: meta: dependencies

#137 use utf8 emoji's for pypi compat
  README.md
Labels: meta: documentation

#141 fix `scipy.integrate` quad function parameter types
  scipy-stubs/integrate/_quadpack_py.pyi
  tests/typetests/integrate_quad.pyi
Labels: package: scipy.integrate

#142 complete `scipy.fft`
  README.md
  scipy-stubs/fft/__init__.pyi
  scipy-stubs/fft/_backend.pyi
  scipy-stubs/fft/_basic.pyi
  scipy-stubs/fft/_basic_backend.pyi
  scipy-stubs/fft/_debug_backends.pyi
  scipy-stubs/fft/_fftlog.pyi
  scipy-stubs/fft/_fftlog_backend.pyi
  scipy-stubs/fft/_helper.pyi
  scipy-stubs/fft/_pocketfft/__init__.pyi
  scipy-stubs/fft/_pocketfft/basic.pyi
  scipy-stubs/fft/_pocketfft/helper.pyi
  scipy-stubs/fft/_pocketfft/pypocketfft.pyi
  scipy-stubs/fft/_pocketfft/realtransforms.pyi
  scipy-stubs/fft/_realtransforms.pyi
  scipy-stubs/fft/_realtransforms_backend.pyi
  tests/stubtest/allowlist.txt
Labels: package: scipy.fft

#143 fix permutation_test statistic callback type
  scipy-stubs/stats/_resampling.pyi
Labels: package: scipy.stats, stubs: incorrect

#144 bump `basedpyright` to `1.20.0`
  poetry.lock
  pyproject.toml
  scipy-stubs/sparse/_dok.pyi
Labels: meta: dependencies

#145 fix dependabot target branch and include github-actions
  .github/dependabot.yml
Labels: meta: dependencies

#146 configure and enforce `repo-review`, `codespell`, and `mdformat`
  .github/workflows/ci.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  codegen/mods.py
  poetry.lock
  pyproject.toml
Labels: meta: CI

#147 bump to `basedmypy 2.7.0` (`mypy 1.3.0`)
  poetry.lock
  pyproject.toml
Labels: meta: deps

#148 include more cache directories in the `poe clean` dev command
  pyproject.toml
Labels: meta: DX
