Repository scipy/scipy-stubs, pull requests merged in 2024-11, with the labels that each got.

#149 Restructured type-tests and related documentation
  .mypyignore
  pyproject.toml
  tests/README.md
  tests/__init__.py
  tests/integrate/test_quad.pyi
  tests/stats/test_rv_frozen.pyi
  tests/typetests/stats_distributions.pyi
Labels: meta: docs, meta: testing

#156 sync `integrate._typing.QuadOpts` with `integrate.quad` kwargs
  scipy-stubs/integrate/_quadpack_py.pyi
  scipy-stubs/integrate/_typing.pyi
Labels: scipy.integrate

#157 `signal`: Add type stubs to `_spectral_py.pyi`.
  scipy-stubs/signal/_spectral_py.pyi
  tests/signal/test_spectral.pyi
Labels: scipy.signal

#162 fix and improve `scipy.spatial._[c]kdtree`
  scipy-stubs/spatial/_ckdtree.pyi
  scipy-stubs/spatial/_kdtree.pyi
Labels: scipy.spatial

#164 fix and improve `scipy.fft._helper`
  scipy-stubs/fft/_helper.pyi
Labels: scipy.fft

#166 add missing `__all__` in `scipy.optimize`
  scipy-stubs/optimize/__init__.pyi
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_dual_annealing.pyi
  scipy-stubs/optimize/_lbfgsb_py.pyi
  scipy-stubs/optimize/_linprog_ip.pyi
  scipy-stubs/optimize/_nnls.pyi
  scipy-stubs/optimize/_qap.pyi
  scipy-stubs/optimize/_trustregion.pyi
  scipy-stubs/optimize/_trustregion_dogleg.pyi
  scipy-stubs/optimize/_trustregion_ncg.pyi
  scipy-stubs/optimize/_tstutils.pyi
Labels: scipy.optimize

#167 fix and improve `scipy.optimize._optimize`
  scipy-stubs/optimize/_cobyla_py.pyi
  scipy-stubs/optimize/_differentialevolution.pyi
  scipy-stubs/optimize/_direct_py.pyi
  scipy-stubs/optimize/_dual_annealing.pyi
  scipy-stubs/optimize/_isotonic.pyi
  scipy-stubs/optimize/_linprog.pyi
  scipy-stubs/optimize/_lsq/__init__.pyi
  scipy-stubs/optimize/_lsq/bvls.pyi
  scipy-stubs/optimize/_lsq/dogbox.pyi
  scipy-stubs/optimize/_lsq/givens_elimination.pyi
  scipy-stubs/optimize/_lsq/least_squares.pyi
  scipy-stubs/optimize/_lsq/lsq_linear.pyi
  scipy-stubs/optimize/_lsq/trf.pyi
  scipy-stubs/optimize/_lsq/trf_linear.pyi
  scipy-stubs/optimize/_milp.pyi
  scipy-stubs/optimize/_minimize.pyi
  scipy-stubs/optimize/_minpack_py.pyi
  scipy-stubs/optimize/_nnls.pyi
  scipy-stubs/optimize/_nonlin.pyi
  scipy-stubs/optimize/_optimize.pyi
  scipy-stubs/optimize/_root.pyi
  scipy-stubs/optimize/_shgo.pyi
  scipy-stubs/optimize/_trustregion_constr/minimize_trustregion_constr.pyi
  scipy-stubs/optimize/_typing.pyi
  scipy-stubs/optimize/_zeros_py.pyi
Labels: scipy.optimize

#171 bump `basedpyright` to `1.21.0`
  poetry.lock
  pyproject.toml
Labels: meta: deps

#172 fix incorrectly rejected `ndarray` in `scipy.stats.qmc`
  scipy-stubs/stats/_qmc.pyi
  scipy-stubs/stats/_qmc_cy.pyi
  tests/stats/qmc/test_scale.pyi
Labels: scipy.stats

#178 bump `ruff` to `0.7.4`
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scipy-stubs/_lib/_util.pyi
  scipy-stubs/io/matlab/_mio5_params.pyi
  scipy-stubs/spatial/_ckdtree.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/stats/_sampling.pyi
Labels: meta: deps

#180 configure dependabot to use the correct labels
  .github/dependabot.yml
Labels: meta: deps

#182 complete `scipy.interpolate._cubic`
  scipy-stubs/interpolate/_cubic.pyi
  scipy-stubs/interpolate/_interpolate.pyi
Labels: scipy.interpolate

#187 bump `mdformat` and `mdformat-pyproject`
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/README.md
Labels: meta: deps

#191 bump `ruff` to `0.8.0`
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scipy-stubs/fftpack/_realtransforms.pyi
  scipy-stubs/integrate/_ode.pyi
  scipy-stubs/integrate/_odepack_py.pyi
  scipy-stubs/integrate/_quad_vec.pyi
  scipy-stubs/integrate/_quadpack_py.pyi
  scipy-stubs/linalg/blas.pyi
  scipy-stubs/linalg/lapack.pyi
  scipy-stubs/optimize/_lsq/dogbox.pyi
  scipy-stubs/optimize/_lsq/trf.pyi
  scipy-stubs/optimize/_trustregion_constr/qp_subproblem.pyi
  scipy-stubs/optimize/_typing.pyi
  scipy-stubs/signal/_fir_filter_design.pyi
  scipy-stubs/special/_basic.pyi
  scipy-stubs/special/cython_special.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
Labels: meta: deps

#193 bump `basedpyright` to `1.22.0`
  .pre-commit-config.yaml
  codegen/mods.py
  poetry.lock
  pyproject.toml
  scipy-stubs/_lib/_ccallback.pyi
  scipy-stubs/fft/_backend.pyi
  scipy-stubs/integrate/_ode.pyi
  scipy-stubs/io/_mmio.pyi
  scipy-stubs/io/arff/_arffread.pyi
  scipy-stubs/stats/_biasedurn.pyi
  scipy-stubs/stats/_discrete_distns.pyi
  scipy-stubs/stats/_kde.pyi
  scipy-stubs/stats/_stats_py.pyi
Labels: meta: deps

#189 towards typing the `ufunc`s in `scipy.special`
  .mypyignore
  pyproject.toml
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_qmvnt.pyi
Labels: scipy.special

#194 update the `scipy.special` phase to 🌔
  README.md
Labels: meta: docs

#196 remove a private testing utility module from `scipy.optimize`
  scipy-stubs/optimize/_tstutils.pyi
Labels: scipy.optimize

#197 bump `optype` to `0.7.2`
  poetry.lock
  pyproject.toml
  scipy-stubs/fft/_helper.pyi
  scipy-stubs/signal/_bsplines.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_variation.pyi
Labels: meta: deps

#195 `signal`: Add type stubs to `_waveforms.pyi`.
  scipy-stubs/signal/_waveforms.pyi
  tests/signal/test_waveforms.pyi
Labels: scipy.signal

#199 custom auto-generated release notes
  .github/release.yml
Labels: meta: chore

#201 enable all `ruff` rules by default
  codegen/mods.py
  pyproject.toml
  scipy-stubs/_lib/_ccallback.pyi
  scipy-stubs/_lib/_pep440.pyi
  scipy-stubs/cluster/hierarchy.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/stats/_typing.pyi
Labels: meta: style, scipy.*

#203 `datasets`: Improved type-hints with `TypedDict`s and `Literal`s
  scipy-stubs/datasets/_download_all.pyi
  scipy-stubs/datasets/_fetchers.pyi
  scipy-stubs/datasets/_registry.pyi
  scipy-stubs/datasets/_typing.pyi
  scipy-stubs/datasets/_utils.pyi
Labels: scipy.datasets, stubs: improvement

#205 `optimize`: complete `_constraints` and `_trustregion_constr.*`
  scipy-stubs/optimize/_constraints.pyi
  scipy-stubs/optimize/_trustregion_constr/canonical_constraint.pyi
  scipy-stubs/optimize/_trustregion_constr/equality_constrained_sqp.pyi
  scipy-stubs/optimize/_trustregion_constr/minimize_trustregion_constr.pyi
  scipy-stubs/optimize/_trustregion_constr/projections.pyi
  scipy-stubs/optimize/_trustregion_constr/tr_interior_point.pyi
Labels: scipy.optimize, stubs: improvement

#206 improved `README.md`
  README.md
Labels: meta: docs

#207 `optimize`: complete the root-finding functions
  scipy-stubs/optimize/_root.pyi
  scipy-stubs/optimize/_root_scalar.pyi
  scipy-stubs/optimize/_typing.pyi
  scipy-stubs/optimize/_zeros_py.pyi
  scipy-stubs/optimize/zeros.pyi
Labels: scipy.optimize, stubs: improvement

#208 `optimize`: complete `fixed_point`
  scipy-stubs/optimize/_minpack_py.pyi
Labels: scipy.optimize, stubs: improvement

#209 `optimize`: complete `curve_fit`, `leastsq`, and `fsolve`
  scipy-stubs/optimize/_minpack_py.pyi
Labels: scipy.optimize, stubs: improvement

#210 `optimize`: complete `HessianUpdateStrategy`, `BFGS`, and `SR1`
  scipy-stubs/optimize/_hessian_update_strategy.pyi
Labels: scipy.optimize, stubs: improvement

#211 `optimize`: complete `basinhopping`
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_minimize.pyi
Labels: scipy.optimize, stubs: improvement

#212 `optimize`: fix and complete `direct`
  scipy-stubs/optimize/_direct_py.pyi
Labels: scipy.optimize, stubs: improvement, stubs: fix

#214 `optimize`: complete `_differentiable_functions` (private)
  scipy-stubs/optimize/_differentiable_functions.pyi
Labels: scipy.optimize, stubs: improvement

#215 `optimize`: complete `_lsq` (private subpackage)
  scipy-stubs/optimize/_lsq/common.pyi
  scipy-stubs/optimize/_lsq/givens_elimination.pyi
  scipy-stubs/optimize/_lsq/trf_linear.pyi
Labels: scipy.optimize, stubs: improvement

#217 restore the `libcst` codemod config
  .libcst.codemod.yaml
  pyproject.toml
Labels: meta: chore, meta: codemods

#219 `optimize`: complete `differential_evolution`
  scipy-stubs/optimize/_differentialevolution.pyi
Labels: scipy.optimize, stubs: improvement

#220 `optimize`: complete `dual_annealing`
  scipy-stubs/optimize/_dual_annealing.pyi
Labels: scipy.optimize, stubs: improvement

#221 `optimize`: fix and improve `minimize` and `basinhopping`
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_minimize.pyi
Labels: scipy.optimize, stubs: improvement, stubs: fix

#222 `optimize`: complete `shgo`, improve `basinhopping`
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_dual_annealing.pyi
  scipy-stubs/optimize/_shgo.pyi
  scipy-stubs/optimize/_typing.pyi
Labels: scipy.optimize, stubs: improvement

#223 `optimize`: complete `line_search`
  scipy-stubs/optimize/_linesearch.pyi
Labels: scipy.optimize, stubs: improvement

#224 `optimize`: complete `_dcsrch` (private)
  scipy-stubs/optimize/_dcsrch.pyi
Labels: scipy.optimize, stubs: improvement

#225 `optimize`: complete `linear_sum_assignment`
  scipy-stubs/optimize/_lsap.pyi
Labels: scipy.optimize, stubs: improvement

#227 ✨ complete `optimize.quadratic_assignment`
  scipy-stubs/optimize/_qap.pyi
Labels: scipy.optimize, stubs: improvement

#226 `signal`: Replace the final `Untyped` in `_short_time_fft.pyi`.
  scipy-stubs/signal/_short_time_fft.pyi
Labels: scipy.signal, stubs: improvement

#228 `optimize`: complete `_shgo_lib` (private)
  scipy-stubs/optimize/_shgo_lib/_complex.pyi
  scipy-stubs/optimize/_shgo_lib/_vertex.pyi
Labels: scipy.optimize, stubs: improvement

#229 bump `ruff` to `0.8.1`
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scipy-stubs/stats/_typing.pyi
Labels: meta: deps

#230 document that `scipy-stubs` is installable with conda
  README.md
Labels: meta: docs

#231 test with the oldest supported numpy version in the CI
  .github/workflows/ci.yml
  scipy-stubs/integrate/_quad_vec.pyi
  scipy-stubs/optimize/_optimize.pyi
Labels: meta: CI, meta: testing, topic: SPEC 0

#232 bump `optype` to `0.7.3`
  poetry.lock
  pyproject.toml
Labels: meta: deps, meta: chore

#234 use the new 0-d `optype` array aliases to simplify the code
  scipy-stubs/linalg/_basic.pyi
  scipy-stubs/sparse/_sputils.pyi
  scipy-stubs/special/_basic.pyi
  scipy-stubs/special/_ellip_harm.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mvn.pyi
  scipy-stubs/stats/_tukeylambda_stats.pyi
Labels: scipy.*, meta: chore

#235 use the new `optype` strict-shape array-likes
  scipy-stubs/optimize/_minpack_py.pyi
  scipy-stubs/stats/_covariance.pyi
Labels: scipy.*, meta: chore
