Repository scipy/scipy-stubs, pull requests merged in 2024-12, with the labels that each got.

#236 `optimize`: complete `_trlib` and `_trustregion*` (private)
  scipy-stubs/optimize/_trlib/__init__.pyi
  scipy-stubs/optimize/_trlib/_trlib.pyi
  scipy-stubs/optimize/_trustregion.pyi
  scipy-stubs/optimize/_trustregion_dogleg.pyi
  scipy-stubs/optimize/_trustregion_exact.pyi
  scipy-stubs/optimize/_trustregion_krylov.pyi
  scipy-stubs/optimize/_trustregion_ncg.pyi
Labels: scipy.optimize, stubs: improvement

#237 `optimize`: complete `_numdiff` (private)
  scipy-stubs/optimize/_numdiff.pyi
Labels: scipy.optimize, stubs: improvement

#238 `optimize`: complete `_group_columns` (private)
  scipy-stubs/optimize/_group_columns.pyi
Labels: scipy.optimize, stubs: improvement

#239 `optimize`: remove `_remove_redundancy` (private)
  scipy-stubs/optimize/_remove_redundancy.pyi
Labels: scipy.optimize, stubs: improvement

#240 `optimize`: complete `fmin_cobyla`
  scipy-stubs/optimize/_cobyla_py.pyi
Labels: scipy.optimize, stubs: improvement

#241 `optimize`: complete `fmin_l_bfgs_b` and `LbfgsInvHessProduct`
  scipy-stubs/optimize/_lbfgsb_py.pyi
Labels: scipy.optimize, stubs: improvement

#242 `optimize`: complete `fmin_slsqp`
  scipy-stubs/optimize/_slsqp_py.pyi
Labels: scipy.optimize, stubs: improvement

#243 📝 update the `scipy` coverage phase table
  README.md
Labels: meta: docs, meta: chore

#244 `linalg._basic`: add overloads for shapes and dtypes
  scipy-stubs/linalg/_basic.pyi
Labels: scipy.linalg, stubs: improvement

#245 `linalg._decomp*`: add overloads for shapes and dtypes
  scipy-stubs/linalg/_decomp.pyi
  scipy-stubs/linalg/_decomp_cholesky.pyi
  scipy-stubs/linalg/_decomp_cossin.pyi
  scipy-stubs/linalg/_decomp_ldl.pyi
  scipy-stubs/linalg/_decomp_lu.pyi
  scipy-stubs/linalg/_decomp_lu_cython.pyi
  scipy-stubs/linalg/_decomp_polar.pyi
  scipy-stubs/linalg/_decomp_qr.pyi
  scipy-stubs/linalg/_decomp_qz.pyi
  scipy-stubs/linalg/_decomp_schur.pyi
  scipy-stubs/linalg/_decomp_svd.pyi
  scipy-stubs/linalg/_decomp_update.pyi
  scipy-stubs/linalg/decomp.pyi
  scipy-stubs/linalg/decomp_cholesky.pyi
  scipy-stubs/linalg/decomp_lu.pyi
  scipy-stubs/linalg/decomp_qr.pyi
  scipy-stubs/linalg/decomp_schur.pyi
  scipy-stubs/linalg/decomp_svd.pyi
Labels: scipy.linalg, stubs: improvement

#246 `linalg`: improved special matrix constructor signatures
  scipy-stubs/linalg/_special_matrices.pyi
Labels: scipy.linalg, stubs: improvement

#247 `linalg`: improved `norm` signature
  scipy-stubs/linalg/_misc.pyi
Labels: scipy.linalg, stubs: improvement

#251 security policy update
  SECURITY.md
Labels: meta: chore

#249 Add a highlights section in `README.md`
  README.md
Labels: meta: docs

#252 `linalg`: improve the shape- & scalar-type overloads of various functions
  scipy-stubs/linalg/_matfuncs.pyi
  scipy-stubs/linalg/_matfuncs_expm.pyi
  scipy-stubs/linalg/_matfuncs_sqrtm.pyi
  scipy-stubs/linalg/_procrustes.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/linalg/_solvers.pyi
  scipy-stubs/linalg/cython_blas.pyi
  scipy-stubs/linalg/cython_lapack.pyi
Labels: scipy.linalg, stubs: improvement

#253 update the `README.md` phase table to better reflect the `Untyped` counts
  README.md
Labels: meta: docs, meta: chore

#174 use `uv` as package manager
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  uv.lock
Labels: meta: CI, meta: packaging, topic: uv

#254 prevent lock update with tools and `uv` setup guide
  CONTRIBUTING.md
  pyproject.toml
Labels: meta: docs

#255 ⬆️ bump `basedpyright` to `1.22.1` and `basedmypy` to `2.8.0`
  pyproject.toml
  scipy-stubs/linalg/_matfuncs.pyi
  uv.lock
Labels: meta: deps, meta: chore

#256 🧑‍💻 uv-compatible mypy vscode config
  .vscode/settings.json
Labels: meta: DX

#259 dynamic minimum requirements
  .github/workflows/ci.yml
  pyproject.toml
  scripts/version_bounds.py
Labels: meta: CI, meta: deps

#265 ⬆️ bump `ruff` to `0.8.2`
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: meta: deps, meta: chore

#266 💡 add a comment to prevent breaking the `#installation` permalink
  README.md
Labels: meta: chore

#267 🎨 `interpolate`: remove duplicated function and classes
  scipy-stubs/interpolate/_bsplines.pyi
  scipy-stubs/interpolate/_fitpack2.pyi
  scipy-stubs/interpolate/_fitpack_impl.pyi
  scipy-stubs/interpolate/_fitpack_py.pyi
  scipy-stubs/interpolate/dfitpack.pyi
  scipy-stubs/interpolate/fitpack.pyi
  scipy-stubs/interpolate/fitpack2.pyi
  scipy-stubs/interpolate/interpolate.pyi
  scipy-stubs/interpolate/ndgriddata.pyi
  scipy-stubs/interpolate/polyint.pyi
  scipy-stubs/interpolate/rbf.pyi
Labels: scipy.interpolate, stubs: improvement

#269 🔧 fix caching issue in `poe {mypy,stubtest,typetest}`
  pyproject.toml
Labels: meta: CI, meta: DX

#270 ✨ stub `interpolate._dfitpack`
  scipy-stubs/interpolate/_dfitpack.pyi
  scipy-stubs/interpolate/dfitpack.pyi
Labels: scipy.interpolate, stubs: improvement

#271 ✨ improve `spatial._qhull`
  scipy-stubs/spatial/_qhull.pyi
Labels: scipy.spatial, stubs: improvement

#272 ✨ complete and improve `interpolate.interpnd`
  scipy-stubs/interpolate/_ndgriddata.pyi
  scipy-stubs/interpolate/interpnd.pyi
Labels: scipy.interpolate, stubs: improvement

#273 ✨ `interpolate`: complete `_bsplines` and `_ndbspline`
  scipy-stubs/interpolate/_bsplines.pyi
  scipy-stubs/interpolate/_ndbspline.pyi
Labels: scipy.interpolate, stubs: improvement

#274 ✨ `interpolate`: complete `RBFInterpolator` and `Rbf`
  scipy-stubs/interpolate/_rbf.pyi
  scipy-stubs/interpolate/_rbfinterp.pyi
Labels: scipy.interpolate, stubs: improvement

#275 ✨ `interpolate`: complete `_fitpack*` (1/2)
  scipy-stubs/interpolate/_dfitpack.pyi
  scipy-stubs/interpolate/_fitpack_impl.pyi
  scipy-stubs/interpolate/_fitpack_py.pyi
Labels: scipy.interpolate, stubs: improvement

#276 ✨ `interpolate`: complete `_fitpack_impl` (2/2)
  scipy-stubs/interpolate/_fitpack_impl.pyi
  scipy-stubs/interpolate/_fitpack_py.pyi
Labels: scipy.interpolate, stubs: improvement

#277 ✨ `interpolate`: complete `_fitpack2`
  scipy-stubs/interpolate/_fitpack2.pyi
Labels: scipy.interpolate, stubs: improvement

#278 ✨ `interpolate`: complete `_rgi`
  scipy-stubs/interpolate/_bsplines.pyi
  scipy-stubs/interpolate/_rgi.pyi
Labels: scipy.interpolate, stubs: fix

#279 ✨ complete `interpolate._polyint`
  scipy-stubs/interpolate/_polyint.pyi
Labels: scipy.interpolate, stubs: improvement

#280 🌕 `interpolate`: mark as 100% annotated
  README.md
Labels: scipy.interpolate, meta: docs, meta: chore

#281 📝 correct the documented lowest supported numpy version
  README.md
Labels: meta: docs, topic: SPEC 0

#282 📝 installation instructions for humans
  README.md
Labels: meta: docs

#283 🔧 stricter `basedpyright` config
  pyproject.toml
  scipy-stubs/interpolate/interpolate.pyi
  scipy-stubs/io/arff/arffread.pyi
  scipy-stubs/io/matlab/mio5.pyi
  scipy-stubs/odr/models.pyi
  scipy-stubs/odr/odrpack.pyi
  scipy-stubs/optimize/minpack.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/spatial/qhull.pyi
  scipy-stubs/spatial/transform/rotation.pyi
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/special/orthogonal.pyi
  scipy-stubs/stats/_continuous_distns.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
Labels: meta: CI, meta: chore

#287 ✨ `signal`: complete frequency response functions in `_filter_design`
  scipy-stubs/signal/_filter_design.pyi
Labels: scipy.signal, stubs: improvement

#262 ➖ remove broken `mdformat-pyproject`
  .mdformat.toml
  pyproject.toml
  uv.lock
Labels: meta: CI, meta: DX

#289 💚 fix `typetest-oldest-supported-numpy` CI job
  .github/workflows/ci.yml
  scripts/version_bounds.py
Labels: meta: CI, topic: uv

#292 🐛 fix typing errors on `numpy<1.24`
  .mypyignore
  .pre-commit-config.yaml
  .vscode/settings.json
  scipy-stubs/_lib/_array_api.pyi
  scipy-stubs/cluster/vq.pyi
  scipy-stubs/fftpack/_helper.pyi
  scipy-stubs/interpolate/_pade.pyi
  scipy-stubs/io/_fortran.pyi
  scipy-stubs/io/_mmio.pyi
  scipy-stubs/io/matlab/_mio4.pyi
  scipy-stubs/io/matlab/_mio5.pyi
  scipy-stubs/linalg/_misc.pyi
  scipy-stubs/ndimage/_interpolation.pyi
  scipy-stubs/ndimage/_morphology.pyi
  scipy-stubs/optimize/_linprog.pyi
  scipy-stubs/optimize/_nnls.pyi
  scipy-stubs/optimize/_tnc.pyi
  scipy-stubs/signal/_savitzky_golay.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/sparse/csgraph/_laplacian.pyi
  scipy-stubs/sparse/csgraph/_min_spanning_tree.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/sparse/linalg/_svdp.pyi
  scipy-stubs/spatial/_ckdtree.pyi
  scipy-stubs/spatial/_procrustes.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/spatial/transform/_rotation.pyi
  scipy-stubs/spatial/transform/_rotation_spline.pyi
  scipy-stubs/spatial/transform/rotation.pyi
  scipy-stubs/special/_orthogonal.pyi
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_binned_statistic.pyi
  scipy-stubs/stats/_bws_test.pyi
  scipy-stubs/stats/_censored_data.pyi
  scipy-stubs/stats/_entropy.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_multicomp.pyi
  scipy-stubs/stats/_sensitivity_analysis.pyi
  scipy-stubs/stats/_stats_mstats_common.pyi
  scipy-stubs/stats/_unuran/unuran_wrapper.pyi
  scipy-stubs/stats/_variation.pyi
Labels: meta: CI, scipy.*, stubs: fix

#293 ⬆️ bump `basedmypy` to `2.8.1`
  pyproject.toml
  scipy-stubs/optimize/_trustregion_constr/minimize_trustregion_constr.pyi
  uv.lock
Labels: meta: deps, stubs: fix

#288 👽️ work around several `mypy` bugs with `numpy>=2.2.0`
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/_tukeylambda_stats.pyi
  uv.lock
Labels: meta: deps, stubs: fix

#295 ✨ `sparse.linalg`: complete the `LinearOperator`s in `_interface`
  scipy-stubs/optimize/_lbfgsb_py.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
Labels: scipy.sparse, stubs: improvement

#296 🎨 `sparse` explicit imports in `__init__`
  scipy-stubs/sparse/__init__.pyi
Labels: scipy.sparse, stubs: improvement

#299 🎤 add podcast to `README.md`
  README.md
Labels: meta: docs

#300 ✨ `sparse.linalg`: complete the matrix norm functions
  scipy-stubs/sparse/linalg/_norm.pyi
  scipy-stubs/sparse/linalg/_onenormest.pyi
Labels: scipy.sparse, stubs: improvement

#301 ✨ `sparse.linalg`: complete `LaplacianNd` & accept in dtypes in `LinearOperator`
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/sparse/linalg/_special_sparse_arrays.pyi
Labels: scipy.sparse, stubs: improvement, stubs: fix

#302 ✨ `sparse.linalg`: complete `_dsolve`
  scipy-stubs/sparse/linalg/_dsolve/_superlu.pyi
  scipy-stubs/sparse/linalg/_dsolve/linsolve.pyi
  scipy-stubs/sparse/linalg/_svdp.pyi
Labels: scipy.sparse, stubs: improvement

#303 ✨ `sparse.linalg`: complete `_eigen.arpack`
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
Labels: scipy.sparse, stubs: improvement

#304 📝 update the coverage progress for `scipy.sparse`
  README.md
Labels: scipy.sparse, meta: docs

#305 ✨ `sparse.linalg`: complete `lobpcg`
  scipy-stubs/sparse/linalg/_eigen/lobpcg/lobpcg.pyi
Labels: scipy.sparse, stubs: improvement

#306 ✨ `sparse.linalg`: complete `svds`
  scipy-stubs/sparse/linalg/_eigen/_svds.pyi
  scipy-stubs/sparse/linalg/_eigen/_svds_doc.pyi
Labels: scipy.sparse, stubs: improvement

#307 ✨ `sparse`: complete the sparse arrays and matrices
  scipy-stubs/_typing.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_bsr.pyi
  scipy-stubs/sparse/_compressed.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_csc.pyi
  scipy-stubs/sparse/_csr.pyi
  scipy-stubs/sparse/_data.pyi
  scipy-stubs/sparse/_dia.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/_index.pyi
  scipy-stubs/sparse/_lil.pyi
  scipy-stubs/sparse/_matrix.pyi
  scipy-stubs/sparse/_typing.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/sparse/linalg/_matfuncs.pyi
Labels: scipy.sparse, stubs: improvement

#308 📝 mention gitmoji in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: meta: docs, meta: style

#309 ✨ `sparse`: complete `eye[_array]`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#310 ✨ `sparse`: complete `identity`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#311 ✨ `sparse`: complete `kron[sum]`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#286 Dynamic testing matrix for combinations of python and numpy versions.
  .github/workflows/ci.yml
  pyproject.toml
  scripts/generate_matrix.py
  scripts/version_bounds.py
  tox.toml
  uv.lock
Labels: meta: CI

#312 ⬆️ bump the dev deps
  .pre-commit-config.yaml
  pyproject.toml
  scipy-stubs/optimize/_slsqp_py.pyi
  uv.lock
Labels: meta: deps

#313 ✨ `sparse`: complete `{h,v}stack`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#314 ✨ `sparse`: complete `[sp]diags[_array]`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#315 ✨ `sparse`: complete `{load,save}_npz`
  scipy-stubs/sparse/_matrix_io.pyi
Labels: scipy.sparse, stubs: improvement

#316 ✨ `sparse`: complete `_sputils.*` (private)
  scipy-stubs/sparse/_sputils.pyi
Labels: scipy.sparse, stubs: improvement

#317 ✨ `sparse`: complete `_spfuncs.*` (private)
  scipy-stubs/sparse/_spfuncs.pyi
Labels: scipy.sparse, stubs: improvement

#318 ✨ `sparse`: complete `find` and `tri{l,u}`
  scipy-stubs/sparse/_extract.pyi
  scipy-stubs/sparse/_sputils.pyi
Labels: scipy.sparse, stubs: improvement

#319 ✨ `sparse`: complete `rand[om[_array]]`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#320 ✨ `sparse`: complete `bmat` and `block_{array,diag}`
  scipy-stubs/sparse/_construct.pyi
Labels: scipy.sparse, stubs: improvement

#321 ✨ `sparse`: adopt the new generic sparse arrays in `linalg` and `csgraph`
  scipy-stubs/sparse/csgraph/_laplacian.pyi
  scipy-stubs/sparse/csgraph/_min_spanning_tree.pyi
  scipy-stubs/sparse/csgraph/_shortest_path.pyi
  scipy-stubs/sparse/csgraph/_tools.pyi
  scipy-stubs/sparse/csgraph/_traversal.pyi
  scipy-stubs/sparse/csgraph/_validation.pyi
  scipy-stubs/sparse/linalg/_special_sparse_arrays.pyi
Labels: scipy.sparse, stubs: improvement

#322 🎨 `sparse`: various `linalg.LinearOperator` tweaks and improvements
  scipy-stubs/sparse/linalg/_expm_multiply.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/sparse/linalg/_matfuncs.pyi
Labels: scipy.sparse, stubs: improvement

#323 ✨ `sparse`: complete `linalg.ls{m,q}r`
  scipy-stubs/sparse/linalg/_isolve/lsmr.pyi
  scipy-stubs/sparse/linalg/_isolve/lsqr.pyi
Labels: scipy.sparse, stubs: improvement

#324 ✨ `sparse`: complete `linalg._isolve.utils.*` (private)
  scipy-stubs/sparse/linalg/_isolve/utils.pyi
Labels: scipy.sparse, stubs: improvement

#325 ✨ `sparse`: complete the remaining `sparse.linalg` functions
  README.md
  scipy-stubs/sparse/linalg/_isolve/_gcrotmk.pyi
  scipy-stubs/sparse/linalg/_isolve/iterative.pyi
  scipy-stubs/sparse/linalg/_isolve/lgmres.pyi
  scipy-stubs/sparse/linalg/_isolve/minres.pyi
  scipy-stubs/sparse/linalg/_isolve/tfqmr.pyi
  scipy-stubs/sparse/linalg/_isolve/utils.pyi
Labels: scipy.sparse, stubs: improvement

#326 🚧 bump `scipy` use `1.15.0rc1` & temporarily ignore all stubtest errors
  .mypyignore-todo
  pyproject.toml
  tox.toml
  uv.lock
Labels: topic: upstream release, stubs: api change

#327 ⬆️ increase the minimum `scipy` version to `1.15.0rc1`
  README.md
  pyproject.toml
  uv.lock
Labels: meta: deps

#328 ⚰️ `misc`: remove all code
  .mypyignore-todo
  README.md
  scipy-stubs/__init__.pyi
  scipy-stubs/misc/__init__.pyi
  scipy-stubs/misc/_common.pyi
  scipy-stubs/misc/common.pyi
  scipy-stubs/misc/doccer.pyi
Labels: scipy.misc, stubs: api change

#329 ✨ `differentiate`: preliminary (yet complete) stubs
  .mypyignore-todo
  README.md
  scipy-stubs/__init__.pyi
  scipy-stubs/differentiate/__init__.pyi
  scipy-stubs/differentiate/_differentiate.pyi
Labels: stubs: api change, scipy.differentiate

#330 👽️ `constants`: fix new stubtest errors
  .mypyignore-todo
  scipy-stubs/constants/_codata.pyi
Labels: scipy.constants, stubs: api change

#333 🏷️ SPEC-7 compliant `scipy._typing.ToRNG` type alias (previously `Seed`)
  scipy-stubs/_typing.pyi
  scipy-stubs/cluster/vq.pyi
  scipy-stubs/interpolate/_polyint.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_differentialevolution.pyi
  scipy-stubs/optimize/_dual_annealing.pyi
  scipy-stubs/optimize/_optimize.pyi
  scipy-stubs/sparse/_construct.pyi
  scipy-stubs/sparse/linalg/_eigen/_svds.pyi
  scipy-stubs/spatial/transform/_rotation.pyi
  scipy-stubs/stats/_continuous_distns.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
  scipy-stubs/stats/_fit.pyi
  scipy-stubs/stats/_kde.pyi
  scipy-stubs/stats/_mgc.pyi
  scipy-stubs/stats/_multicomp.pyi
  scipy-stubs/stats/_multivariate.pyi
  scipy-stubs/stats/_qmc.pyi
  scipy-stubs/stats/_resampling.pyi
  scipy-stubs/stats/_sampling.pyi
  scipy-stubs/stats/_sensitivity_analysis.pyi
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/_unuran/unuran_wrapper.pyi
Labels: scipy._typing, scipy.*, stubs: api change

#334 👽️ `cluster`: fix new stubtest errors
  .mypyignore-todo
  scipy-stubs/cluster/hierarchy.pyi
  scipy-stubs/cluster/vq.pyi
Labels: scipy.cluster, stubs: api change

#335 🔧 regex'd `.mypyignore`
  .mypyignore
Labels: meta: style

#337 👽️ `scipy-stubs`: fix new stubtest errors
  .mypyignore-todo
  scipy-stubs/integrate/__init__.pyi
  scipy-stubs/integrate/_cubature.pyi
  scipy-stubs/integrate/_lebedev.pyi
  scipy-stubs/integrate/_quad_vec.pyi
  scipy-stubs/integrate/_quadrature.pyi
  scipy-stubs/integrate/_tanhsinh.pyi
Labels: scipy.integrate, stubs: api change

#338 👽️ `interpolate`: 1.15.0 support
  .mypyignore-todo
  pyproject.toml
  scipy-stubs/interpolate/__init__.pyi
  scipy-stubs/interpolate/_bary_rational.pyi
  scipy-stubs/interpolate/_bsplines.pyi
  scipy-stubs/interpolate/_cubic.pyi
  scipy-stubs/interpolate/_fitpack_repro.pyi
  scipy-stubs/interpolate/_interpnd.pyi
  scipy-stubs/interpolate/_interpolate.pyi
  scipy-stubs/interpolate/_ndbspline.pyi
  scipy-stubs/interpolate/_ndgriddata.pyi
  scipy-stubs/interpolate/_polyint.pyi
  scipy-stubs/interpolate/interpnd.pyi
  scipy-stubs/interpolate/ndgriddata.pyi
  scipy-stubs/interpolate/polyint.pyi
Labels: scipy.interpolate, stubs: api change

#340 🔧 configure pre-commit ci to use gitmoji style
  .pre-commit-config.yaml
Labels: meta: CI, meta: style

#341 👽️ `io`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/_typing.pyi
  scipy-stubs/io/_fast_matrix_market/__init__.pyi
  scipy-stubs/io/_harwell_boeing/__init__.pyi
  scipy-stubs/io/_harwell_boeing/hb.pyi
  scipy-stubs/io/_idl.pyi
  scipy-stubs/io/_mmio.pyi
  scipy-stubs/io/arff/_arffread.pyi
  scipy-stubs/io/harwell_boeing.pyi
  scipy-stubs/io/matlab/__init__.pyi
  scipy-stubs/io/matlab/_mio.pyi
  scipy-stubs/io/matlab/_mio5.pyi
  scipy-stubs/io/matlab/_miobase.pyi
  scipy-stubs/io/matlab/mio.pyi
  scipy-stubs/io/mmio.pyi
Labels: scipy.io, stubs: api change

#342 👷 increase the timeout of the CI `typetest` step
  .github/workflows/ci.yml
Labels: meta: CI, meta: chore

#343 👽️ `linalg.interpolative`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/linalg/interpolative.pyi
Labels: scipy.linalg, stubs: api change

#344 👽️ `linalg`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/linalg/__init__.pyi
  scipy-stubs/linalg/_basic.pyi
  scipy-stubs/linalg/_decomp_svd.pyi
  scipy-stubs/linalg/_matfuncs_expm.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/linalg/_special_matrices.pyi
  scipy-stubs/linalg/decomp_svd.pyi
  tests/linalg/test_special_matrices.pyi
Labels: scipy.linalg, stubs: api change

#345 👽️ `version`: 1.15.0 remove `commit_count`
  .mypyignore-todo
  scipy-stubs/version.pyi
Labels: stubs: api change, scipy.version

#346 👽️ `ndimage`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/ndimage/__init__.pyi
  scipy-stubs/ndimage/_filters.pyi
  scipy-stubs/ndimage/_morphology.pyi
  scipy-stubs/ndimage/_ni_docstrings.pyi
  scipy-stubs/ndimage/_ni_support.pyi
  scipy-stubs/ndimage/filters.pyi
  scipy-stubs/ndimage/morphology.pyi
Labels: scipy.ndimage, stubs: api change

#347 👽️ `optimize`: SPEC 7 & scipy 1.15.0 support
  .mypyignore-todo
  scipy-stubs/optimize/_basinhopping.pyi
  scipy-stubs/optimize/_cobyqa_py.pyi
  scipy-stubs/optimize/_differentialevolution.pyi
  scipy-stubs/optimize/_dual_annealing.pyi
  scipy-stubs/optimize/_elementwise.pyi
  scipy-stubs/optimize/_hessian_update_strategy.pyi
  scipy-stubs/optimize/_lsq/least_squares.pyi
  scipy-stubs/optimize/_numdiff.pyi
  scipy-stubs/optimize/_optimize.pyi
  scipy-stubs/optimize/_qap.pyi
  scipy-stubs/optimize/_trustregion_constr/minimize_trustregion_constr.pyi
  scipy-stubs/optimize/_trustregion_constr/tr_interior_point.pyi
  scipy-stubs/optimize/elementwise.pyi
  scipy-stubs/optimize/minpack.pyi
  scipy-stubs/optimize/optimize.pyi
Labels: scipy.optimize, stubs: api change

#348 👽️ `signal`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/signal/__init__.pyi
  scipy-stubs/signal/_bsplines.pyi
  scipy-stubs/signal/_filter_design.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spectral.pyi
  scipy-stubs/signal/_spectral_py.pyi
  scipy-stubs/signal/_spline.pyi
  scipy-stubs/signal/_spline_filters.pyi
  scipy-stubs/signal/_waveforms.pyi
  scipy-stubs/signal/_wavelets.pyi
  scipy-stubs/signal/bsplines.pyi
  scipy-stubs/signal/filter_design.pyi
  scipy-stubs/signal/signaltools.pyi
  scipy-stubs/signal/spectral.pyi
  scipy-stubs/signal/spline.pyi
  scipy-stubs/signal/waveforms.pyi
  scipy-stubs/signal/wavelets.pyi
Labels: scipy.signal, stubs: improvement, stubs: api change

#349 👽️ `sparse`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/sparse/__init__.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_bsr.pyi
  scipy-stubs/sparse/_compressed.pyi
  scipy-stubs/sparse/_construct.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_csr.pyi
  scipy-stubs/sparse/_data.pyi
  scipy-stubs/sparse/_dia.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/_index.pyi
  scipy-stubs/sparse/_lil.pyi
  scipy-stubs/sparse/_matrix.pyi
  scipy-stubs/sparse/_sputils.pyi
  scipy-stubs/sparse/_typing.pyi
  scipy-stubs/sparse/base.pyi
  scipy-stubs/sparse/bsr.pyi
  scipy-stubs/sparse/compressed.pyi
  scipy-stubs/sparse/construct.pyi
  scipy-stubs/sparse/coo.pyi
  scipy-stubs/sparse/csc.pyi
  scipy-stubs/sparse/csgraph/_flow.pyi
  scipy-stubs/sparse/csgraph/_matching.pyi
  scipy-stubs/sparse/csgraph/_tools.pyi
  scipy-stubs/sparse/csgraph/_traversal.pyi
  scipy-stubs/sparse/dia.pyi
  scipy-stubs/sparse/dok.pyi
  scipy-stubs/sparse/linalg/_dsolve/__init__.pyi
  scipy-stubs/sparse/linalg/_dsolve/_superlu.pyi
  scipy-stubs/sparse/linalg/_dsolve/linsolve.pyi
  scipy-stubs/sparse/linalg/_eigen/_svds.pyi
  scipy-stubs/sparse/linalg/eigen.pyi
Labels: scipy.sparse, stubs: api change

#350 👽️ `spatial`: 1.15.0 support and many improvements
  .mypyignore-todo
  scipy-stubs/_typing.pyi
  scipy-stubs/cluster/hierarchy.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/spatial/transform/_rotation.pyi
  scipy-stubs/spatial/transform/_rotation_spline.pyi
  scipy-stubs/stats/_qmc.pyi
Labels: scipy.spatial, stubs: improvement, stubs: api change

#351 👽️ `special`: 1.15.0 support
  .mypyignore-todo
  scipy-stubs/special/__init__.pyi
  scipy-stubs/special/_basic.pyi
  scipy-stubs/special/_multiufuncs.pyi
  scipy-stubs/special/_spherical_bessel.pyi
  scipy-stubs/special/basic.pyi
  scipy-stubs/special/cython_special.pyi
Labels: scipy.special, stubs: api change

#353 👽️ `stats`: 1.15.0 support and several improvements
  .mypyignore-todo
  scipy-stubs/stats/__init__.pyi
  scipy-stubs/stats/_common.pyi
  scipy-stubs/stats/_continuous_distns.pyi
  scipy-stubs/stats/_correlation.pyi
  scipy-stubs/stats/_discrete_distns.pyi
  scipy-stubs/stats/_fit.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_mstats_extras.pyi
  scipy-stubs/stats/_multicomp.pyi
  scipy-stubs/stats/_multivariate.pyi
  scipy-stubs/stats/_qmc.pyi
  scipy-stubs/stats/_resampling.pyi
  scipy-stubs/stats/_rvs_sampling.pyi
  scipy-stubs/stats/_sensitivity_analysis.pyi
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/contingency.pyi
  scipy-stubs/stats/distributions.pyi
  scipy-stubs/stats/morestats.pyi
  scipy-stubs/stats/stats.pyi
Labels: scipy.stats, stubs: improvement, stubs: api change

#355 🧑‍💻 remove mypy from pre-commit (too slow)
  .pre-commit-config.yaml
Labels: meta: CI, meta: DX

#356 ➕ bump `basedpyright` to `1.23.1`
  pyproject.toml
  uv.lock
Labels: meta: deps

#357 👽️ `sparse`: accept `axes: tuple[int[:], int[:]]` in `coo_array.tensordot`
  scipy-stubs/sparse/_coo.pyi
Labels: scipy.sparse, stubs: api change

#358 ⬆️ bump `ruff` to `0.8.4` and disallow `mdformat==0.7.20`
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: meta: deps

#359 ⬆️ bump `mdformat` to `0.7.21`
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: meta: deps

#360 👽️ `stats`: 1.15.0 new distribution infrastructure
  .mypyignore
  .mypyignore-todo
  pyproject.toml
  scipy-stubs/stats/__init__.pyi
  scipy-stubs/stats/_distribution_infrastructure.pyi
  scipy-stubs/stats/_new_distributions.pyi
  scipy-stubs/stats/_probability_distribution.pyi
  tox.toml
Labels: scipy.stats, stubs: api change

#362 ✨ more precise `__config__` and `__init__` annotations
  scipy-stubs/__config__.pyi
  scipy-stubs/__init__.pyi
Labels: stubs: improvement, scipy.*

#364 ✨ `_lib`: improved annotations
  scipy-stubs/_lib/_elementwise_iterative_method.pyi
  scipy-stubs/_lib/_finite_differences.pyi
  scipy-stubs/_lib/_gcutils.pyi
  scipy-stubs/_lib/decorator.pyi
Labels: scipy._lib, stubs: improvement

#365 📝 several `README.md` improvements
  README.md
Labels: meta: docs

#366 💬 `interpolate`: fix scipy version in `interpnd` deprecation warning messages
  scipy-stubs/interpolate/interpnd.pyi
Labels: scipy.interpolate, topic: deprecation

#367 💬 `special`: mention the deprecation version in `lpn` and `[c]lpmn`
  scipy-stubs/special/_basic.pyi
Labels: scipy.special, topic: deprecation

#368 📝 better describe the supported numpy versions
  README.md
Labels: meta: docs

#370 🐛 `special`: fix the 1.15 "multi-ufunc" signatures
  scipy-stubs/special/_multiufuncs.pyi
Labels: scipy.special, stubs: fix

#371 📌 pin `scipy<1.16`
  pyproject.toml
  uv.lock
Labels: meta: deps, topic: uv

#372 🗑️ `interpolate`: deprecate the `dfitpack` functions, fix & improve the `sp*` functions
  scipy-stubs/interpolate/_fitpack_py.pyi
  scipy-stubs/interpolate/dfitpack.pyi
  tests/interpolate/_dfitpack.pyi
  tests/interpolate/dfitpack.pyi
Labels: scipy.interpolate, stubs: improvement, stubs: fix, backport: 1.14.*

#373 🗑️ `interpolate`: deprecate the `dfitpack` functions, fix & improve the `sp*` functions
  pyproject.toml
  scipy-stubs/interpolate/_fitpack_py.pyi
  scipy-stubs/interpolate/dfitpack.pyi
Labels: scipy.interpolate, stubs: improvement, stubs: fix, backported

#374 ✨ `special`: several improved ufuncs
  .mypyignore
  scipy-stubs/special/_ufuncs.pyi
Labels: scipy.special, stubs: improvement, topic: deprecation

#375 ✨ `special`: ufunc improvements
  .mypyignore
  pyproject.toml
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/special/_ufuncs.pyi
  tests/special/test_ufuncs.pyi
Labels: scipy.special, stubs: improvement

#376 👽️ `scipy==1.15.0rc2`
  pyproject.toml
  scipy-stubs/sparse/_index.pyi
  scipy-stubs/stats/_distribution_infrastructure.pyi
  scipy-stubs/version.pyi
  uv.lock
Labels: meta: deps, topic: upstream release, stubs: api change

#378 ✨ `signal`: complete `_filter_design`, fix and improve `_czt`
  scipy-stubs/signal/_czt.pyi
  scipy-stubs/signal/_filter_design.pyi
Labels: scipy.signal, stubs: improvement, stubs: fix

#379 ✨ `signal`: complete `_signaltools`
  scipy-stubs/_typing.pyi
  scipy-stubs/linalg/_special_matrices.pyi
  scipy-stubs/signal/_short_time_fft.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spectral_py.pyi
  scipy-stubs/signal/windows/_windows.pyi
Labels: scipy.signal, stubs: improvement

#380 📌 upgrade `optype` to `0.8.0`
  pyproject.toml
  scipy-stubs/optimize/_slsqp_py.pyi
  scipy-stubs/optimize/_zeros_py.pyi
  scipy-stubs/signal/_spline_filters.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
  tests/linalg/test_special_matrices.pyi
  uv.lock
Labels: meta: deps

#382 🎨 `optype 0.8` simplifications
  scipy-stubs/linalg/_matfuncs.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/linalg/_special_matrices.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_bsr.pyi
  scipy-stubs/sparse/_compressed.pyi
  scipy-stubs/sparse/_construct.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_data.pyi
  scipy-stubs/sparse/_dia.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/_lil.pyi
  scipy-stubs/sparse/_matrix.pyi
  scipy-stubs/sparse/_sputils.pyi
  scipy-stubs/sparse/_typing.pyi
  scipy-stubs/sparse/csgraph/_tools.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/special/_multiufuncs.pyi
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_distribution_infrastructure.pyi
  scipy-stubs/stats/_mstats_basic.pyi
  scipy-stubs/stats/_mstats_extras.pyi
  scipy-stubs/stats/_qmc.pyi
  tests/special/test_ufuncs.pyi
Labels: stubs: improvement, scipy.*

#383 👷 PyPI trusted publishing workflow
  .github/workflows/publish-pypi.yml
Labels: meta: packaging, backport: 1.14.*

#384 ✨ `signal`: complete `_fir_filter_design.*` en `max_len_seq`
  scipy-stubs/signal/_arraytools.pyi
  scipy-stubs/signal/_fir_filter_design.pyi
  scipy-stubs/signal/_max_len_seq.pyi
  scipy-stubs/signal/_max_len_seq_inner.pyi
Labels: scipy.signal, stubs: improvement

#385 ✨ `signal`: complete `_ltisys.*`
  README.md
  scipy-stubs/_typing.pyi
  scipy-stubs/signal/_lti_conversion.pyi
  scipy-stubs/signal/_ltisys.pyi
Labels: scipy.signal, stubs: improvement

#387 🎨 `stats`: simplify `_distn_infrastructure` with `optype 0.8`
  scipy-stubs/stats/_distn_infrastructure.pyi
  tests/stats/test_rv_frozen.pyi
Labels: scipy.stats, stubs: improvement

#388 👷 exclude unsupported test matrix version combinations
  .github/workflows/ci.yml
  scripts/generate_matrix.py
Labels: meta: CI, meta: DX

#389 🔧 de-duplicate the `scipy` version requirements
  pyproject.toml
  uv.lock
Labels: meta: style

#390 🎨 `_typing`: DRY `Falsy` and `Truthy` type aliases
  scipy-stubs/_lib/_elementwise_iterative_method.pyi
  scipy-stubs/_typing.pyi
  scipy-stubs/cluster/hierarchy.pyi
  scipy-stubs/integrate/_bvp.pyi
  scipy-stubs/integrate/_ivp/base.pyi
  scipy-stubs/integrate/_ivp/ivp.pyi
  scipy-stubs/integrate/_odepack_py.pyi
  scipy-stubs/integrate/_quad_vec.pyi
  scipy-stubs/integrate/_quadpack_py.pyi
  scipy-stubs/interpolate/_fitpack_impl.pyi
  scipy-stubs/interpolate/_fitpack_py.pyi
  scipy-stubs/io/_fast_matrix_market/__init__.pyi
  scipy-stubs/io/_harwell_boeing/hb.pyi
  scipy-stubs/io/_mmio.pyi
  scipy-stubs/linalg/_basic.pyi
  scipy-stubs/linalg/_decomp.pyi
  scipy-stubs/linalg/_decomp_cossin.pyi
  scipy-stubs/linalg/_decomp_lu.pyi
  scipy-stubs/linalg/_decomp_qr.pyi
  scipy-stubs/linalg/_decomp_svd.pyi
  scipy-stubs/linalg/_expm_frechet.pyi
  scipy-stubs/linalg/_matfuncs.pyi
  scipy-stubs/linalg/_matfuncs_sqrtm.pyi
  scipy-stubs/linalg/_misc.pyi
  scipy-stubs/odr/_odrpack.pyi
  scipy-stubs/optimize/_minimize.pyi
  scipy-stubs/optimize/_minpack_py.pyi
  scipy-stubs/optimize/_numdiff.pyi
  scipy-stubs/optimize/_optimize.pyi
  scipy-stubs/optimize/_root.pyi
  scipy-stubs/optimize/_root_scalar.pyi
  scipy-stubs/optimize/_slsqp_py.pyi
  scipy-stubs/optimize/_trustregion_constr/qp_subproblem.pyi
  scipy-stubs/optimize/_zeros_py.pyi
  scipy-stubs/signal/_arraytools.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spectral_py.pyi
  scipy-stubs/signal/_waveforms.pyi
  scipy-stubs/signal/windows/_windows.pyi
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/csgraph/_laplacian.pyi
  scipy-stubs/sparse/csgraph/_shortest_path.pyi
  scipy-stubs/sparse/csgraph/_traversal.pyi
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/sparse/linalg/_eigen/lobpcg/lobpcg.pyi
  scipy-stubs/sparse/linalg/_onenormest.pyi
  scipy-stubs/spatial/distance.pyi
  scipy-stubs/special/_basic.pyi
  scipy-stubs/special/_logsumexp.pyi
  scipy-stubs/special/_orthogonal.pyi
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
  scipy-stubs/stats/_morestats.pyi
  scipy-stubs/stats/_mstats_extras.pyi
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/_variation.pyi
Labels: scipy.special, stubs: improvement, scipy._typing
