Repository scipy/scipy-stubs, pull requests merged in 2025-09, with the labels that each got.

#860 :sparkles: `optimize`: support plural bounds in `linprog`
  scipy-stubs/optimize/_linprog.pyi
  tests/optimize/test_linprog.pyi
Labels: scipy.optimize, is: feature, is: fix

#852 📝 add PyTensor to the list of dependents
  README.md
Labels: topic: documentation

#865 ⬆️ bump ruff to 0.13.0
  pyproject.toml
  uv.lock
Labels: topic: dependencies

#866 ⬆️ bump basedpyright to 1.31.4
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore

#867 ✨ `signal`: annotate the private functions in `_signaltools`
  scipy-stubs/signal/_signaltools.pyi
Labels: scipy.signal, is: feature

#868 ✨ `optimize`: have `linprog` return a specialized `OptimizeResult`
  scipy-stubs/optimize/_linprog.pyi
  tests/.ruff.toml
  tests/optimize/test_linprog.pyi
Labels: scipy.optimize, is: feature

#881 🔧 stricter config tweak
  pyproject.toml
  scipy-stubs/optimize/cobyla.pyi
  scipy-stubs/optimize/lbfgsb.pyi
  scipy-stubs/optimize/minpack.pyi
  scipy-stubs/optimize/optimize.pyi
  scipy-stubs/optimize/slsqp.pyi
  scipy-stubs/optimize/tnc.pyi
Labels: scipy.optimize, is: chore, tool: mypy

#882 🐛 `integrate`: several `BDF` fixes
  scipy-stubs/integrate/_ivp/base.pyi
  scipy-stubs/integrate/_ivp/bdf.pyi
Labels: scipy.integrate, is: fix

#883 🐛 `optimize`: fix incorrect `OptimizeResult` import
  scipy-stubs/optimize/_minimize.pyi
Labels: scipy.optimize, is: fix

#886 📝 add `colour-science/colour-checker-detection` to the list of dependents
  README.md
Labels: topic: documentation, is: chore
