Repository scipy/scipy-stubs, pull requests merged in 2025-05, with the labels that each got.

#511 Correct key name in :class:`_OptionsMILP`
  scipy-stubs/optimize/_milp.pyi
Labels: scipy.optimize, stubs: fix

#513 Remove License Trove Classifier from `pyproject.toml`
  pyproject.toml
Labels: meta: CI

#514 ⬆️ update the dev dependencies
  pyproject.toml
  uv.lock
Labels: meta: deps

#516 📌 upgrade `scipy` to `1.15.3`
  pyproject.toml
  scipy-stubs/sparse/linalg/_eigen/arpack/arpack.pyi
  scipy-stubs/sparse/linalg/_interface.pyi
  uv.lock
Labels: topic: upstream release, stubs: api change

#518 🔖 prepare for further development
  pyproject.toml
  uv.lock
Labels: meta: chore

#519 🐛 `signal`: accept numbers as args to `width` and `plateau_size` for `find_peaks()`
  scipy-stubs/signal/_peak_finding.pyi
Labels: scipy.signal, stubs: fix, backport: candidate

#522 ⬆️ bump dev dependencies to latest
  pyproject.toml
  uv.lock
Labels: meta: deps

#524 📌 scipy 1.16.0rc1
  .github/workflows/ci.yml
  .mypyignore
  .mypyignore-todo
  pyproject.toml
  scipy-stubs/fftpack/helper.pyi
  uv.lock
Labels: meta: deps, topic: upstream release, stubs: api change

#525 👽️ scipy 1.16 updates for `_lib`
  .mypyignore
  .mypyignore-todo
  scipy-stubs/_lib/_finite_differences.pyi
  scipy-stubs/_lib/_util.pyi
Labels: scipy._lib, topic: upstream release, stubs: api change

#526 👽️ scipy 1.16 update for `cluster.vq.whiten`
  .mypyignore-todo
  scipy-stubs/cluster/vq.pyi
Labels: scipy.cluster, topic: upstream release, stubs: api change - undocumented

#527 👽️ scipy 1.16 changes for `interpolate.dfitpack`
  .mypyignore-todo
  scipy-stubs/interpolate/dfitpack.pyi
  tests/interpolate/dfitpack.pyi
Labels: scipy.interpolate, topic: upstream release, stubs: api change - undocumented

#528 👽️ scipy 1.16 change for `interpolate.RectBivariateSpline`
  .mypyignore-todo
  scipy-stubs/interpolate/_fitpack2.pyi
Labels: scipy.interpolate, topic: upstream release, stubs: api change - undocumented

#529 👽️ scipy 1.16 change for `interpolate.make_smoothing_spline`
  .mypyignore-todo
  scipy-stubs/interpolate/_bsplines.pyi
Labels: scipy.interpolate, topic: upstream release, stubs: api change

#530 👽️ scipy 1.16 addition for `io.matlab`
  .mypyignore-todo
  scipy-stubs/io/matlab/__init__.pyi
  scipy-stubs/io/matlab/_miobase.pyi
Labels: scipy.io, topic: upstream release, stubs: api change

#535 👽️ scipy 1.16 batching support in `scipy.linalg`
  scipy-stubs/linalg/_basic.pyi
  scipy-stubs/linalg/_decomp.pyi
  scipy-stubs/linalg/_decomp_cholesky.pyi
  scipy-stubs/linalg/_decomp_cossin.pyi
  scipy-stubs/linalg/_decomp_ldl.pyi
  scipy-stubs/linalg/_decomp_lu.pyi
  scipy-stubs/linalg/_decomp_lu_cython.pyi
  scipy-stubs/linalg/_decomp_polar.pyi
  scipy-stubs/linalg/_decomp_qr.pyi
  scipy-stubs/linalg/_decomp_qz.pyi
  scipy-stubs/linalg/_decomp_schur.pyi
  scipy-stubs/linalg/_decomp_svd.pyi
  scipy-stubs/linalg/_decomp_update.pyi
  scipy-stubs/linalg/_expm_frechet.pyi
  scipy-stubs/linalg/_matfuncs.pyi
  scipy-stubs/linalg/_matfuncs_expm.pyi
  scipy-stubs/linalg/_procrustes.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/linalg/_solve_toeplitz.pyi
  scipy-stubs/linalg/_solvers.pyi
  scipy-stubs/linalg/_special_matrices.pyi
Labels: scipy.linalg, topic: upstream release, stubs: api change

#538 👽️ scipy 1.16 changes for `optimize._differentiable_functions`
  .mypyignore-todo
  scipy-stubs/optimize/_differentiable_functions.pyi
Labels: scipy.optimize, topic: upstream release, stubs: api change - undocumented

#539 👽️ scipy 1.16 changes for `optimize.least_squares`
  .mypyignore-todo
  scipy-stubs/optimize/_differentiable_functions.pyi
  scipy-stubs/optimize/_lsq/dogbox.pyi
  scipy-stubs/optimize/_lsq/least_squares.pyi
  scipy-stubs/optimize/_lsq/trf.pyi
  scipy-stubs/optimize/minpack.pyi
Labels: scipy.optimize, topic: upstream release, stubs: api change

#540 👽️ scipy 1.16 changes for `optimize._numdiff`
  .mypyignore-todo
  scipy-stubs/optimize/_numdiff.pyi
Labels: scipy.optimize, topic: upstream release, stubs: api change - undocumented

#541 👽️ scipy 1.16 changes for `optimize._trustregion_constr`
  .mypyignore-todo
  scipy-stubs/optimize/_trustregion_constr/minimize_trustregion_constr.pyi
Labels: scipy.optimize, topic: upstream release, stubs: api change - undocumented

#544 👽️ scipy 1.16 changes for `optimize.slsqp`
  .mypyignore-todo
  scipy-stubs/optimize/_slsqp_py.pyi
  scipy-stubs/optimize/slsqp.pyi
Labels: scipy.optimize, topic: upstream release, stubs: api change - undocumented

#546 👽️ scipy 1.16 additions for `signal._short_time_fft`
  .mypyignore-todo
  scipy-stubs/signal/__init__.pyi
  scipy-stubs/signal/_short_time_fft.pyi
Labels: scipy.signal, topic: upstream release, stubs: api change

#547 ✨ `signal`: generic `ShortTimeFFT` type-param and improved annotations
  scipy-stubs/signal/_short_time_fft.pyi
Labels: scipy.signal, stubs: improvement

#548 👽️ scipy 1.16 new function `signal.firwin_2d`
  .mypyignore-todo
  scipy-stubs/signal/__init__.pyi
  scipy-stubs/signal/_fir_filter_design.pyi
  scipy-stubs/signal/fir_filter_design.pyi
Labels: scipy.signal, topic: upstream release, stubs: api change

#549 👽️ scipy 1.16 changes for `signal.__all__`
  .mypyignore-todo
  scipy-stubs/signal/__init__.pyi
Labels: scipy.signal, topic: upstream release, stubs: api change - undocumented

#550 👽️ scipy 1.16 changes for `signal.windows`
  .mypyignore-todo
  scipy-stubs/signal/signaltools.pyi
  scipy-stubs/signal/spectral.pyi
  scipy-stubs/signal/windows/_windows.pyi
  scipy-stubs/signal/windows/windows.pyi
Labels: scipy.signal, topic: array-api, topic: upstream release, stubs: api change

#551 🎨 `signal`: dedupe the `@deprecated` public submodule function definitions
  scipy-stubs/signal/bsplines.pyi
  scipy-stubs/signal/filter_design.pyi
  scipy-stubs/signal/lti_conversion.pyi
  scipy-stubs/signal/ltisys.pyi
Labels: scipy.signal, topic: deprecation, meta: chore

#553 👽️ scipy 1.16 deprecations for `linalg.{logm, signm, sqrtm}`
  scipy-stubs/linalg/_matfuncs.pyi
Labels: scipy.linalg, stubs: deprecation, topic: upstream release

#556 👽️ scipy 1.16 changes for `sparse._base`
  .mypyignore-todo
  scipy-stubs/sparse/_base.pyi
  scipy-stubs/sparse/_matrix.pyi
Labels: scipy.sparse, topic: upstream release, stubs: api change - undocumented

#561 👽️ scipy 1.16 additions for `spatial.transform._rotation`
  .mypyignore-todo
  scipy-stubs/spatial/transform/_rotation.pyi
Labels: scipy.spatial, topic: upstream release, stubs: api change - undocumented

#563 👽️ scipy 1.16 changes for `special._support_alternative_backends`
  .mypyignore
  .mypyignore-todo
  scipy-stubs/special/_support_alternative_backends.pyi
Labels: scipy.special, topic: upstream release, stubs: api change - undocumented

#564 👽️ scipy 1.16 new function `stats.quantile`
  .mypyignore-todo
  scipy-stubs/stats/__init__.pyi
  scipy-stubs/stats/_quantile.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#566 👽️ scipy 1.16 new class `stats._distribution_infrastructure`
  .mypyignore-todo
  scipy-stubs/stats/_distribution_infrastructure.pyi
  scipy-stubs/stats/_probability_distribution.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change - undocumented

#567 👽️ scipy 1.16 new class `stats.Binomial`
  .mypyignore-todo
  scipy-stubs/stats/__init__.pyi
  scipy-stubs/stats/_distribution_infrastructure.pyi
  scipy-stubs/stats/_new_distributions.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#571 ✨ `stats`: improved hypothesis test function return type annotations
  scipy-stubs/stats/_hypotests.pyi
Labels: scipy.stats, stubs: improvement

#573 👽️ scipy 1.16 changes for `stats.f_oneway`
  .mypyignore-todo
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/stats.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#576 👽️ scipy 1.16 changes for `stats.gaussian_kde.integrate_box`
  .mypyignore-todo
  scipy-stubs/stats/_kde.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change - undocumented

#580 👽️ scipy 1.16 changes for `stats.{siegel,theil}slopes`
  .mypyignore-todo
  scipy-stubs/stats/_stats_mstats_common.pyi
  scipy-stubs/stats/_typing.pyi
  scipy-stubs/stats/stats.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#581 👽️ scipy 1.16 changes for `stats.gstd`
  .mypyignore-todo
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/stats.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change - undocumented

#583 👽️ scipy 1.16 expired deprecation for `stats.linregress`
  scipy-stubs/stats/_stats_py.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#586 👽️ scipy 1.16 changes for `stats.{kendall,weighted}tau`
  .mypyignore-todo
  scipy-stubs/stats/_stats_py.pyi
  scipy-stubs/stats/stats.pyi
Labels: scipy.stats, topic: upstream release, stubs: api change

#587 👽️ scipy 1.16 changes for `version`
  scipy-stubs/version.pyi
Labels: topic: upstream release, stubs: api change, scipy.version

#588 ✅ remove scipy 1.16.0rc1 stubtest allowlist
  .github/workflows/ci.yml
  .mypyignore-todo
  pyproject.toml
Labels: meta: chore, topic: upstream release
