Repository scipy/scipy-stubs, pull requests merged in 2025-07, with the labels that each got.

#694 🩹 `stats`: private `_continuous_distns` functions should accept scalars
  scipy-stubs/stats/_continuous_distns.pyi
Labels: scipy.stats, is: fix

#696 🔧 fix pyright execution environment config
  pyproject.toml
  scipy-stubs/special/_ufuncs.pyi
  scripts/generate_matrix.py
  tests/special/test_ufuncs.pyi
Labels: scipy.special, is: fix

#698 🐛 `special.logsumexp`: add missing `axis` parameter defaults
  scipy-stubs/special/_logsumexp.pyi
  tests/special/test_logsumexp.pyi
Labels: scipy.special, is: fix

#699 ✨ `special`: improved `logsumexp` and `[log_]softmax`
  scipy-stubs/special/_logsumexp.pyi
  tests/special/test_logsumexp.pyi
Labels: scipy.special, is: feature

#701 🔖 prepare for further development
  pyproject.toml
  uv.lock
Labels: is: chore

#706 🔨 dev script for listing all (private) unstubbed modules
  scripts/unstubbed_modules.py
Labels: is: chore

#707 ⬆️ bump `ruff` to `0.12.2`
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore

#709 🐛 `sparse.linalg`: fix several `LinearOperator` issues
  .mypyignore
  scipy-stubs/sparse/linalg/_interface.pyi
  tests/sparse/linalg/test__dsolve.pyi
  tests/sparse/linalg/test__expm_multiply.pyi
  tests/sparse/linalg/test__interface.pyi
Labels: scipy.sparse, is: fix

#711 ✨ `linalg`: support sparse arrays in `clarkson_woodruff_transform`
  scipy-stubs/linalg/_sketches.pyi
  tests/linalg/test__decomp_svd.pyi
  tests/linalg/test__sketches.pyi
  tests/linalg/test__special_matrices.pyi
Labels: scipy.linalg, is: feature, topic: testing

#713 🏷️ `_lib`: stub `_ccallback_c` and `_array_api[_compat_vendor]`
  pyproject.toml
  scipy-stubs/_lib/_array_api.pyi
  scipy-stubs/_lib/_array_api_compat_vendor.pyi
  scipy-stubs/_lib/_ccallback_c.pyi
  uv.lock
Labels: scipy._lib, is: feature

#714 🏷️ `cluster`: stub internal cython submodules
  scipy-stubs/cluster/_hierarchy.pyi
  scipy-stubs/cluster/_optimal_leaf_ordering.pyi
  scipy-stubs/cluster/_vq.pyi
Labels: scipy.cluster, is: feature

#715 🏷️ `integrate`: stub `integrate._rules.*` (private api)
  scipy-stubs/integrate/_rules/__init__.pyi
  scipy-stubs/integrate/_rules/_base.pyi
  scipy-stubs/integrate/_rules/_gauss_kronrod.pyi
  scipy-stubs/integrate/_rules/_gauss_legendre.pyi
  scipy-stubs/integrate/_rules/_genz_malik.pyi
Labels: scipy.integrate, is: feature

#716 🏷️ `integrate`: stub the remaining private C-extension modules
  scipy-stubs/integrate/_dop.pyi
  scipy-stubs/integrate/_lsoda.pyi
  scipy-stubs/integrate/_odepack.pyi
  scipy-stubs/integrate/_quadpack.pyi
  scipy-stubs/integrate/_vode.pyi
Labels: scipy.integrate, is: feature

#704 :label: `sparse`: improved init stubs of sparse arrays with shape as positional argument.
  scipy-stubs/sparse/_bsr.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_csc.pyi
  scipy-stubs/sparse/_csr.pyi
  scipy-stubs/sparse/_dia.pyi
  scipy-stubs/sparse/_dok.pyi
  scipy-stubs/sparse/_lil.pyi
  tests/sparse/test_csr.pyi
Labels: scipy.sparse, is: fix

#720 🏷️ `ndimage`: stub the remaining private modules
  scipy-stubs/ndimage/_nd_image.pyi
  scipy-stubs/ndimage/_ni_docstrings.pyi
  scipy-stubs/ndimage/_ni_label.pyi
  scipy-stubs/ndimage/_ni_support.pyi
  scipy-stubs/ndimage/_rank_filter_1d.pyi
Labels: scipy.ndimage, is: feature

#722 🏷️ `optimize`: stub the remaining private modules
  scipy-stubs/optimize/_bglu_dense.pyi
  scipy-stubs/optimize/_direct.pyi
  scipy-stubs/optimize/_lbfgsb.pyi
  scipy-stubs/optimize/_minpack.pyi
  scipy-stubs/optimize/_moduleTNC.pyi
  scipy-stubs/optimize/_pava_pybind.pyi
  scipy-stubs/optimize/_remove_redundancy.pyi
  scipy-stubs/optimize/_zeros.pyi
Labels: scipy.optimize, is: feature

#727 🏷️ `stats`: stub the remaining private modules
  scipy-stubs/stats/_ansari_swilk_statistics.pyi
  scipy-stubs/stats/_constants.pyi
  scipy-stubs/stats/_finite_differences.pyi
  scipy-stubs/stats/_qmvnt_cy.pyi
  scipy-stubs/stats/_stats.pyi
Labels: scipy.stats, is: feature

#728 📌 pin CI action version tags
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
Labels: tool: github actions, is: chore

#732 📝 add a "who's using scipy-stubs" section to the readme
  README.md
Labels: topic: documentation

#735 ♻️ explicit `onp.AnyFloat64DType | None`
  scipy-stubs/ndimage/_measurements.pyi
  scipy-stubs/stats/_stats.pyi
Labels: topic: optype, is: refactor

#739 ✨ `stats`: improved `Covariance` generic type parameter inference
  scipy-stubs/stats/_covariance.pyi
Labels: scipy.stats, is: feature

#741 ✨ `linalg`: improved basic `solve*` annotations
  scipy-stubs/linalg/_basic.pyi
  tests/linalg/test__basic.pyi
Labels: scipy.linalg, is: feature, topic: testing, topic: shape-typing

#749 🎨 `linalg`: simplified `_decomp_svd` type aliases
  scipy-stubs/linalg/_decomp_svd.pyi
Labels: scipy.linalg, is: refactor

#744 ✨ `linalg`: improved `det` annotations
  scipy-stubs/linalg/_basic.pyi
  tests/linalg/test__basic.pyi
Labels: scipy.linalg, is: feature, topic: testing

#752 ⬆️ bump `ruff` to `0.12.3`
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore

#754 🧑‍💻 vscode tasks for basedpyright, mypy, and stubtest
  .github/workflows/ci.yml
  .vscode/tasks.json
  pyproject.toml
Labels: is: feature, topic: DX

#757 ⬆️ bump `ruff` to `0.12.4`
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore

#733 :label: `sparse`: overhauled stubs for `diags_array`, `eye_array`, and their matrix equivalents
  scipy-stubs/sparse/_construct.pyi
  tests/sparse/test_construct.pyi
Labels: scipy.sparse, is: feature

#761 ⬆️ bump `optype` to `0.12.2`
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore, topic: optype

#764 🤖 correct TypeVarTuple naming in copilot instructions
  .github/copilot-instructions.md
Labels: topic: code style, is: chore

#771 ⬆️ numpy 2.3.2 and ruff 0.12.5
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore

#774 Add `hstack` and `vstack` overloads for different sparse formats
  scipy-stubs/sparse/_construct.pyi
  tests/sparse/test_construct.pyi
Labels: scipy.sparse, is: feature

#781 🩹 fix compatibility issues with `np.[c]longdouble` on `numpy<2.2`
  scipy-stubs/fft/_basic.pyi
  scipy-stubs/fft/_fftlog.pyi
  scipy-stubs/fft/_realtransforms.pyi
  scipy-stubs/fft/_realtransforms_backend.pyi
  scipy-stubs/fftpack/_basic.pyi
  scipy-stubs/fftpack/_realtransforms.pyi
  scipy-stubs/integrate/_ivp/common.pyi
  scipy-stubs/io/matlab/_mio_utils.pyi
  scipy-stubs/linalg/_basic.pyi
  scipy-stubs/linalg/_cythonized_array_utils.pyi
  scipy-stubs/linalg/_decomp.pyi
  scipy-stubs/linalg/_decomp_svd.pyi
  scipy-stubs/linalg/_misc.pyi
  scipy-stubs/linalg/_sketches.pyi
  scipy-stubs/optimize/_constraints.pyi
  scipy-stubs/optimize/_milp.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spectral_py.pyi
  scipy-stubs/signal/_spline_filters.pyi
  scipy-stubs/sparse/_coo.pyi
  scipy-stubs/sparse/_csparsetools.pyi
  scipy-stubs/special/_ufuncs.pyi
  scipy-stubs/stats/_new_distributions.pyi
  scipy-stubs/stats/_stats.pyi
  tests/fft/test_basic.pyi
  tests/fft/test_fftlog.pyi
  tests/linalg/test__basic.pyi
  tests/linalg/test__decomp_svd.pyi
  tests/linalg/test__sketches.pyi
  tests/signal/test_spectral.pyi
  tests/sparse/test_construct.pyi
  tests/stats/test__entropy.pyi
Labels: topic: numpy, is: workaround

#783 🤡 work around false positive `reportOverlappingOverload` pyright errors on `numpy<2.1`
  .github/workflows/ci.yml
  scipy-stubs/fft/_basic.pyi
  scipy-stubs/fft/_fftlog.pyi
  scipy-stubs/fft/_realtransforms.pyi
  scipy-stubs/fft/_realtransforms_backend.pyi
  scipy-stubs/linalg/_misc.pyi
  scipy-stubs/signal/_signaltools.pyi
  scipy-stubs/signal/_spline_filters.pyi
  scipy-stubs/spatial/transform/_rigid_transform.pyi
  scipy-stubs/stats/_distn_infrastructure.pyi
  scipy-stubs/stats/_tukeylambda_stats.pyi
Labels: is: workaround

#787 ✅ fix failing type-tests on `numpy==2.2.*`
  tests/constants/test_constants.pyi
  tests/linalg/test__decomp_svd.pyi
  tests/linalg/test__sketches.pyi
  tests/special/test_logsumexp.pyi
Labels: topic: testing, is: fix

#788 ✅ fix failing type-tests on `numpy==2.1.*`
  scipy-stubs/integrate/_ivp/ivp.pyi
  scipy-stubs/interpolate/_polyint.pyi
  scipy-stubs/stats/_distribution_infrastructure.pyi
  tests/constants/test_constants.pyi
  tests/integrate/test_solve_ivp.pyi
Labels: topic: testing, is: fix

#789 ✅ fix failing type-tests on `numpy<2.1`
  tests/differentiate/test_differentiate.pyi
  tests/fft/test_basic.pyi
  tests/linalg/test__basic.pyi
  tests/optimize/test_constraints.pyi
  tests/sparse/test_spbase.pyi
Labels: topic: testing, is: fix

#778 💚 fix CI numpy testing matrix
  .github/workflows/ci.yml
  tests/integrate/test_solve_ivp.pyi
Labels: tool: github actions, is: fix, tool: uv

#792 👽️ SciPy 1.16.1 support
  .mypyignore
  pyproject.toml
  scipy-stubs/interpolate/_polyint.pyi
  scipy-stubs/optimize/_shgo_lib/_complex.pyi
  scipy-stubs/optimize/optimize.pyi
  scipy-stubs/sparse/construct.pyi
  scipy-stubs/sparse/linalg/eigen.pyi
  scipy-stubs/version.pyi
  tests/stats/test_make_distribution.pyi
  uv.lock
Labels: topic: upstream release

#793 🗑️ `special.comb`: remove expired `@deprecated` non-integer `exact=True` overloads
  scipy-stubs/_lib/_util.pyi
  scipy-stubs/optimize/_linprog.pyi
  scipy-stubs/special/_add_newdocs.pyi
  scipy-stubs/special/_basic.pyi
Labels: scipy.special, topic: deprecation, is: fix

#776 🐛 `interpolate`: Fix incorrect return type for `make_lsq_spline`
  scipy-stubs/interpolate/_bsplines.pyi
Labels: scipy.interpolate, is: fix

#794 ⬆️ bump `mypy` to `1.17.1`
  pyproject.toml
  uv.lock
Labels: topic: dependencies, is: chore
